<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="../public/javascripts/app.js"></script>
</head>
<body>
<form method="get" action="signup">
	<div>
		<input type="text" name="user[firstName]" placeholder="First Name">
	</div>
	<div>
		<input type="text" name="user[lastName]" placeholder="Last Name">
	</div>	
	<div>
		<input type="text" name="user[email]" placeholder="Email"> 
	</div>
	<div>
		<input type="text" name="user[password]" placeholder="Password">
	</div>
	<button>Signup</button>
</form>
</form>
</body>
</html>