<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<link rel="stylesheet" href="../stylesheets/signup.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	
</head>
<body>
<form method="post" action="signup">
	<div>
		<input type="text" name="user[firstName]" placeholder="First Name">
	</div>
	<div>
		<input type="text" name="user[lastName]" placeholder="Last Name">
	</div>	
	<div>
		<input type="text" name="user[location]" placeholder="Zip Code">
	</div>		
	<div>
		<input type="text" name="user[email]" placeholder="Email"> 
	</div>
	<div>
		<input type="text" name="user[password]" placeholder="Password">
	</div>
	<button>Signup</button>
</form>
</form>
</body>
</html>